/* Importação de Fonte */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* Cores personalizadas */

:root {
  --viaroxo: #5a6bff;
  --viaazul: #17117a;
  --viaverde: #00d3c3;
  --viacinza: #73767a;
}

/* Estilos padrão */

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Lato";
}

h1 {
  font-size: 1.25rem;
  color: var(--viacinza);
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
  color: var(--viacinza);
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

select {
  background: none;
}

/* Estilos personalizados */

.body {
  color: #fff;
  background-image: linear-gradient(to right, var(--viaroxo), var(--viaverde));
  background-repeat: no-repeat;
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: max-content 80vh auto; */
}

.header {
  background-color: #fff;
  grid-row: 1;
}

.header__container {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.header__businessname {
  display: flex;
  gap: 20px;
  grid-column: 1;
  align-content: center;
  align-items: center;
}

.header__container--img {
  height: 40px;
}

.header__navbar {
  grid-column: 3;
}

.header__navbar_menu {
  display: flex;
  border-radius: 4px;
  background: var(--viaroxo);
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.header__navbar_menu a {
  color: #fff;
  display: flex;
  font-weight: bold;
  padding: 10px;
  transition: all 0.2s;
}

.header__navbar_menu a:hover {
  background-color: var(--viaazul);
}

#header__navbar_menu--line {
  height: 1.5rem;
  width: 2px;
  background: #fff;
}

.main__container {
  grid-row: 2;
  display: flex;
  padding: 40px 20px 0 20px;
  max-width: 1100px;
  justify-content: space-between;
  margin: 0 auto;
  gap: 40px;
}

.container__newtrans {
  flex-grow: 1;
  display: grid;
  align-items: center;
  color: #000;
  background: #fff;
  border-radius: 4px;
  padding: 20px 15px;
  min-width: 40%;
}

.container__newtrans_formtrans {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 0.9rem;
}

.newtrans_formtrans--div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container__newtrans_formtrans
  input:not(.container__newtrans_formtrans--btnsub),
select {
  padding: 10px;
  border-radius: 4px;
  border: 0.1px solid #000;
}

.container__newtrans_formtrans--btnsub {
  padding: 10px;
  border-radius: 4px;
  background: var(--viaroxo);
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border: none;
}

.container__newtrans_formtrans--btnsub:hover {
  background-color: var(--viaazul);
}

.container__exttrans {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  color: #000;
  border-radius: 4px;
  padding: 20px 15px;
  overflow-x: hidden;
  max-height: 344px;
  overflow-y: scroll;
}

.container__exttrans_exttable {
  border-collapse: collapse;
  width: 100%;
}

.container__exttrans_exttable thead td,
.container__exttrans_exttable tfoot td {
  padding-bottom: 5px;
  font-weight: bold;
}

.notbold {
  font-weight: normal;
}

.container__exttrans_exttable tbody td {
  padding: 5px 0;
}

.visible_none {
  display: none;
}

.exttable_line_top {
  border-top: 1px solid var(--viacinza);
}

.exttable_line {
  border-bottom: 1px solid var(--viacinza);
}

.exttable_text_align_end {
  text-align: end;
}

.vertical_text_align {
  vertical-align: baseline;
}

.exttable_total span {
  display: block;
}

.breakline {
  display: block;
}

.footer {
  background: var(--viaazul);
  height: 8px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  grid-row: 3;
}

.footer__img--accessibility {
  position: fixed;
  bottom: 300px;
  right: 1px;
  width: 50px;
}
